.produtos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nome{
    margin: .5rem 0rem;
}


@media (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 390px) {
    .produtos {
        grid-template-columns: 1fr;
    }
}